body {
    margin: 0;
    padding: 0;
    width:1200px;
    height:1200px;
    
}

section {
    left: 250px;
    height:1100px;
    background-image:radial-gradient(at top left, white 1%, rgb(109, 196, 234),rgb(28, 154, 208) );
}

.dugtrio {
    position: relative;
    right:100px;
}

.diglett {
    width: 333px;
    height: 700px;
    background-image: radial-gradient(at top left, rgb(148, 111, 111) 65%, rgb(124, 97, 97) 30%);
    border-radius: 170px;
    border: 3px solid black;
    position: relative;
    transform-origin: bottom center;
}

.cuerpo:first-child {
    top: 170px;
    left: 341px;
    transform: rotate(2deg);
}


.cuerpo:nth-child(2) {
    bottom: 317px;
    left: 146px;
    transform: rotate(-4deg);
}

.cuerpo:last-child {
    bottom: 900px;
    left: 526px;
    transform: rotate(7deg);
}

.nariz {
    width: 130px;
    height: 75px;
    background-image: radial-gradient(at bottom right
    , rgb(211, 162, 171) 20%, pink 60%);
    border-radius: 50%;
    border: 3px solid black;
    position: relative;
}

.nariz1 {
    top: 150px;
    left: 140px;
    transform: translateX(-50%);
}

.nariz2 {
    top: 140px;
    left: 150px;
    transform: translateX(-50%);
}

.nariz3{
    top: 150px;
    left: 140px;
    transform: translateX(-50%);
}

.ojo {
    width: 70px;
    height: 20px;
    background-image: radial-gradient(at top right, rgb(77, 77, 77) 20%, rgb(0,0,0) 50%);
    border-radius: 50%;
    border: 3px solid black;
    position: relative;
    transform: rotate(90deg);
}

.ojo_iz {
    top: 10px;
    left: 60px;
}

.ojo_de {
    bottom: 17px;
    left: 160px;
}

.light {
    width: 20px;
    height: 10px;
    background-image: radial-gradient(white, white);
    border-radius: 50%;
    position: relative;
    top: 6px; 
}

.light_nariz {
    width: 50px;
    height: 20px;
    background-image: radial-gradient(white, white);
    border-radius: 50%;
    position: relative;
    top: 10px; 
    left: 20px;
    transform: rotate(-7deg);
}

.diglett:hover {
    animation: saltar 0.5s ease infinite alternate;
}

@keyframes saltar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.ground {
    width:1200px;
    height:800px;
    background-image: linear-gradient(rgb(65, 112, 59),rgb(44, 74, 40),rgb(97, 78, 63), rgb(173, 146, 109));
    position: relative;
    bottom: 250px;
}

.dirt {
    width: 800px;
    height: 0px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 100px solid #867056;
    position: relative;
    background-image: linear-gradient(rgb(91, 74, 62), rgb(151, 129, 98));
    bottom: 50px;
    left: 60px;
}




